{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}
<div id="main">
	<div class="content">
	{{ $posts := (where .Site.RegularPages "Section" "==" "post") | first 1 }}
	
	 
	
		<ul class="prev-next">
			{{if .Prev }}
				<li> ← <a class="next" href="{{.Prev.Permalink}}">{{.Prev.Title }}  </a></li>
			{{end}}
			
			
			{{ range    $posts    }}
								
				{{ .Scratch.Set "greeting" .URL }}
			{{end}}
			{{if .Next }}
				<li>{{if eq (.Scratch.Get "greeting")  $.Page.URL  }}←  {{end}}<a class="previous" href="{{.Next.Permalink}}">{{.Next.Title}}</a>{{if ne (.Scratch.Get "greeting")  $.Page.URL  }}→  {{end}}  </li>
			{{end}}
		</ul>
		
		
		
		
	<div class="entry">
		<div id="hero" class="wrap">
		  <h3>{{.Title }}</h3>
		  {{ partial "post/byauthor" . }}
			<p>{{.Params.description}}</p>
		</div>
		<ul id="posts">

		 {{ .Content }}
		  
		</ul>
		</div>
	</div>
	
		
	<div class="sidebar">
			{{ partial "sidebar" . }}
	</div>

<div class="clearfix"></div>
</div>
{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}