{{ $posts := (where .Site.RegularPages "Section" "==" "post") }}

		
<div class="widget">
	<p><img src="/images/working_out_loud.jpg" alt="mdm hat"></p>
</div>

<div class="widget">
	<span style="font-size:12px">
		Oh, I get by with a little help from my friends<br>
		Mm I get high with a little help from my friends<br>
		Oh, I'm gonna try with a little help from my friends<br>
		<br>
		With A Little Help From My Friends<br>
		Lennon &amp; McCartney
	</span>
</div>
<div class="widget">{{ $postCount := len $posts }} {{$postCount}} Posts so far.  Start {{ range first 1 $posts.ByDate }}
  <a href="{{ .URL }}">at the beginning</a>   
{{ end }} .</div>


<div class="widget ">
<h4>Latest</h4>
        <ul>
          
			{{ range    $posts | first 5   }}
            
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
           
            {{ end }}
        </ul>
	
		
			
			
			
			
			
			
			


</div>